@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.main {
    display: table-cell;
    width: 100vw;
    height: 95vh;
    vertical-align: middle;
}

#para1 {
    text-align: center;

    color: rgb(255, 0, 255);
    font-size: 5em;
    font-family: 'Roboto Condensed';
}